<%# 新しいCSSファイルを読み込む %>
<%= stylesheet_link_tag "user/registration", "data-turbo-track": "reload" %>

<div class="signup-form">
  <h2 class="signup-form-header">新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div>
      <%= f.label :name, "氏名 (ニックネーム可)", class: "signup-form-label" %>
      <%= f.text_field :name, required: true, autofocus: true, autocomplete: "name", placeholder: "山田 太郎", class: "signup-form-input" %>
    </div>

    <div>
      <%= f.label :email, "メールアドレス", class: "signup-form-label" %>
      <%= f.email_field :email, required: true, autocomplete: "email", placeholder: "name@example.com", class: "signup-form-input" %>
    </div>

    <div>
      <%= f.label :password, "パスワード (6文字以上)", class: "signup-form-label" %>
      <%= f.password_field :password, required: true, autocomplete: "new-password", placeholder: "••••••••", class: "signup-form-input" %>
    </div>

    <div>
      <%= f.label :password_confirmation, "パスワード（確認）", class: "signup-form-label" %>
      <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "••••••••", class: "signup-form-input" %>
    </div>

    <%= f.submit "アカウントを作成", class: "w-full bg-green-600 hover:bg-green-700 text-white font-bold py-2.5 rounded-lg shadow-md transition duration-150 ease-in-out" %>
  <% end %>

  <div class="text-sm text-center"><%= render "devise/shared/links" %></div>
</div>