<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>StudyPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", rel: "stylesheet" %>
    <%= javascript_importmap_tags %>

    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
  </head>

  <body>
    <header class="app-header">
      <div class="header-container">
        <h1 class="header-title">個別指導カリキュラム管理</h1>
        <%= link_to students_path, class: "home-button" do %>
          <i data-lucide="home" class="icon"></i>
          <span class="text">ホームに戻る</span>
        <% end %>
      </div>
    </header>

    <main class="main-container">
      <%= yield %>
    </main>

    <script>
      document.addEventListener("turbo:load", () => lucide.createIcons());
    </script>
  </body>
</html>